$red: #f12e3a;
$blue: #2d92f0;

.call-form {
  h3 { font-size: 36px; }
  h4 { font-size: 24px; }

  text-align: center;

  .call-form--header {
    text-align: center;
    background-color: #68c6d0;
    border-bottom: 1em solid #e66848;
    h1 {
      color: #FFF;
      padding: 1em 0;
      font-size: 3em;
      font-family: 'Futura', 'Oswald';
    }
  }
  position: relative;
  perspective: 800px;

  .address-input {
    margin-top: 60px;
    font-size: 24px;

    input {
      height: 24px;
      line-height: 24px;
      font-size: 24px;
      width: 40%;
      border: 0em;
      border-bottom: 2px solid #C7C7C7;

      &::-webkit-input-placeholder { font-size: 12px; line-height: 12px; }
      &:-moz-placeholder { font-size: 1em; line-height: 1em;  }
      &::-moz-placeholder { font-size: 1em; line-height: 1em;  }
      &:-ms-input-placeholder { font-size: 1em; line-height: 1em;  }
    }
  }
}

.issueSelector {
  select {
    width: 400px;
  }

  textarea {
    width: 400px;
    height: 300px;
  }
  text-align: center;
}
